ion-content

    ion-list
        padding: 0
        margin: 8px 18px 24px 18px

        ion-item, ion-label, ion-list-header
            --background: var(--ion-color-light)

        .player-list
            --padding-start: 0

        ion-item-option
            ion-icon
                font-size: 20px
