<ion-header>
    <ion-toolbar dndColor>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button *ngIf="!isDM" (click)="switchAccountType(true)" size="block" color="secondary">Switch to DM</ion-button>
    <ion-button *ngIf="isDM" (click)="switchAccountType(false)" size="block" color="secondary">Switch to Player</ion-button>
    <ion-button (click)="logout()" size="block" color="primary">Log Out</ion-button>
</ion-content>
