<ion-content>
	<ion-grid fxLayout="row" fxFlexFill fxLayoutAlign="center center">
		<ion-row fxLayout="row" fxFlex>
			<ion-card fxFlex>
				<ion-card-header>
					<ion-card-title>Activate Account</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-text color="dark">
						<p>Activate your account by clicking the link in the email we just sent you. You won't be able to log in until you do so.</p>
					</ion-text>
					<ion-text color="dark">
						<p>Already activated your account? <a color="primary" routerLink="/login">Try logging in.</a></p>
					</ion-text>
				</ion-card-content>
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-content>
