<ion-header>
	<ion-toolbar dndColor>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="secure/friends"></ion-back-button>
		</ion-buttons>
		<ion-title>Add Friend</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar [formControl]="username" placeholder="Username"></ion-searchbar>
	<ion-list *ngIf="users.length">
		<ion-list-header>
			<ion-label>Results</ion-label>
		</ion-list-header>
		<ion-item *ngFor="let user of users">
			<ion-label>
				<ion-text color="secondary">
					<h2>{{user.username}}</h2>
				</ion-text>
				<ion-text color="medium">
					<h3>{{user.firstName}} {{user.lastName}}</h3>
				</ion-text>
			</ion-label>
			<ion-icon *ngIf="!user.isFriend && !user.isLoading" slot="end" name="person-add" (click)="add(user)"></ion-icon>
			<ion-spinner name="bubbles" color="primary" *ngIf="user.isLoading"></ion-spinner>
			<ion-icon color="success" *ngIf="user.isFriend && !user.isLoading" slot="end" name="checkmark" (click)="add(user)"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
