ion-card
	//height: 25vh
	--background: #ffffff

	.add-campaign-icon
		font-size: 48px

	&.add-campaign-card
		height: 25vh

	&.campaign-card

		ion-card-content
			padding-bottom: 0

			.created-at
				p
					text-align: right
					font-size: 12px

			.bottom-bar
				padding-top: 12px

				ion-button

					ion-icon
						font-size: 20px

					ion-text
						padding-left: 4px
						font-size: 12px

