<ion-header>
	<ion-toolbar dndColor>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Campaigns</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<ng-container *ngIf="!isLoading">
		<ion-card *ngIf="!campaigns.length" class="add-campaign-card" fxLayout="row" fxLayoutAlign="center center" (click)="createNewCampaign()">
			<ion-card-content fxFlex fxLayout="column" fxLayoutAlign="center center">
				<ion-icon color="primary" class="add-campaign-icon" name="add"></ion-icon>
				<ion-text><p>Create your first campaign</p></ion-text>
			</ion-card-content>
		</ion-card>

		<ion-card *ngFor="let campaign of campaigns" class="campaign-card">
			<ion-card-header (click)="editCampaign(campaign)">
				<ion-card-title>{{campaign.data().name}}</ion-card-title>
				<ion-card-subtitle>Next Session: </ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>

				<ng-container (click)="editCampaign(campaign)">
					<p>{{campaign.data().description}}</p>
					<ion-text class="created-at" color="medium"><p>{{campaign.data().createdAt.seconds * 1000 | date:'mediumDate'}}</p></ion-text>
				</ng-container>

				<div fxLayout="row" class="bottom-bar">
					<ion-button fxFlex fill="clear">
						<ion-icon color="secondary" name="people"></ion-icon>
						<ion-text color="secondary">6 PLAYERS</ion-text>
					</ion-button>
					<ion-button fxFlex fill="clear">
						<ion-icon color="secondary" name="text"></ion-icon>
						<ion-text color="secondary">3 Comments</ion-text>
					</ion-button>
				</div>
			</ion-card-content>
		</ion-card>

		<ion-fab *ngIf="campaigns.length" vertical="bottom" horizontal="end" slot="fixed">
			<ion-fab-button (click)="createNewCampaign()">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</ng-container>

	<ng-container *ngIf="isLoading">
		<ion-card *ngFor="let skele of [1,2,3]">
			<ion-card-header>
				<ion-card-title>
					<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</ion-card-title>
				<ion-card-subtitle>
					<ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
				</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<ion-skeleton-text animated style="height: 100px"></ion-skeleton-text>
			</ion-card-content>
		</ion-card>
	</ng-container>
</ion-content>
