<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Campaigns</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<ion-card *ngIf="!campaigns.length && !isLoading" fxLayout="row" fxLayoutAlign="center center" (click)="createNewCampaign()">
		<ion-card-content fxFlex fxLayout="column" fxLayoutAlign="center center">
			<ion-icon color="primary" name="add"></ion-icon>
			<ion-text><p>Create your first campaign</p></ion-text>
		</ion-card-content>
	</ion-card>
	<ion-card *ngFor="let campaign of campaigns">
		<ion-card-header>
			<ion-card-title>{{campaign.name}}</ion-card-title>
			<ion-card-subtitle>{{campaign.createdAt.seconds * 1000 | date:'mediumDate'}}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			{{campaign.description}}
		</ion-card-content>
	</ion-card>

	<ion-fab *ngIf="campaigns.length && !isLoading" vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="createNewCampaign()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
