<ion-header>
	<ion-toolbar dndColor>
		<ion-title>Add Players</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar placeholder="Search by username" [formControl]="search"></ion-searchbar>
	<ion-segment (ionChange)="segmentChanged($event)" value="friends">
		<ion-segment-button value="friends">
			<ion-label>Friends</ion-label>
		</ion-segment-button>
		<ion-segment-button value="everywhere">
			<ion-label>Everywhere</ion-label>
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="selectedList">
		<p *ngSwitchCase="'friends'">
			<ion-list lines="full">
				<ion-item *ngFor="let friend of friends">
					<ion-label>
						<ion-text color="secondary">
							<h2>{{friend.username}}</h2>
						</ion-text>
						<ion-text color="medium">
							<h3>{{friend.firstName}} {{friend.lastName}}</h3>
						</ion-text>
						<ion-text color="medium">
							<h6>Friends since: {{friend.createdAt | date:'mediumDate'}}</h6>
						</ion-text>
					</ion-label>
				</ion-item>
			</ion-list>
		</p>
		<p *ngSwitchCase="'everywhere'">Everywhere</p>
	</div>
</ion-content>
