<ion-header>
	<ion-toolbar dndColor>
		<ion-title>Add Players</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar placeholder="Search by username"></ion-searchbar>
	<ion-segment (ionChange)="segmentChanged($event)" value="friends">
		<ion-segment-button value="friends">
			<ion-label>Friends</ion-label>
		</ion-segment-button>
		<ion-segment-button value="everywhere">
			<ion-label>Everywhere</ion-label>
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="selectedList">
		<p *ngSwitchCase="'friends'">Friends</p>
		<p *ngSwitchCase="'everywhere'">Everywhere</p>
	</div>
</ion-content>
